@charset "utf-8";

body{
    background-image: url('https://2.bp.blogspot.com/-fylg-2Vgjr0/WWJVOKeEPnI/AAAAAAAALNc/FBVC3xMb-1QZz14RCfSSmoP5532OzvOGACLcBGAs/w1200-h630-p-k-no-nu/17437908_1788940474689329_8115557099129274368_n.jpg');
    background-size: 500px 400px;
    background-repeat: repeat;
}